* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    background: linear-gradient(to top right, #00ff6a, #00f3ff);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .keys {
    display: flex;
    gap: 50px;
  }